Aims of this months project:
1. Learn basics of python
2. EDA
3. Solve using atleast one method
4. Submit a solution

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [5]:
train = pd.read_csv("../May/train.csv") 
test = pd.read_csv("../May/test.csv")

In [6]:
train.head()

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,target
0,0,0,0,1,0,1,0,0,0,0,...,0,0,21,0,0,0,0,0,0,Class_2
1,1,0,0,0,0,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,2,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,13,2,0,Class_1
3,3,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,1,0,Class_4
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,Class_2

In [7]:
test.head()

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49
0,100000,0,0,0,0,0,0,4,4,0,...,0,0,0,0,0,0,0,0,0,0
1,100001,0,0,1,0,0,0,2,0,7,...,3,0,1,0,0,0,1,0,2,1
2,100002,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,6,0
3,100003,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,6,9,14,3
4,100004,0,0,0,0,0,0,1,0,4,...,1,0,0,0,0,0,0,0,0,0

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 52 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          100000 non-null  int64
 1   feature_0   100000 non-null  int64
 2   feature_1   100000 non-null  int64
 3   feature_2   100000 non-null  int64
 4   feature_3   100000 non-null  int64
 5   feature_4   100000 non-null  int64
 6   feature_5   100000 non-null  int64
 7   feature_6   100000 non-null  int64
 8   feature_7   100000 non-null  int64
 9   feature_8   100000 non-null  int64
 10  feature_9   100000 non-null  int64
 11  feature_10  100000 non-null  int64
 12  feature_11  100000 non-null  int64
 13  feature_12  100000 non-null  int64
 14  feature_13  100000 non-null  int64
 15  feature_14  100000 non-null  int64
 16  feature_15  100000 non-null  int64
 17  feature_16  100000 non-null  int64
 18  feature_17  100000 non-null  int64
 19  feature_18  100000 non-null  int64
 20  feature_19  100000 non-null  int64
 21  feature_20  100000 non-null  int64
 22  feature_21  100000 non-null  int64
 23  feature_22  100000 non-null  int64
 24  feature_23  100000 non-null  int64
 25  feature_24  100000 non-null  int64
 26  feature_25  100000 non-null  int64
 27  feature_26  100000 non-null  int64
 28  feature_27  100000 non-null  int64
 29  feature_28  100000 non-null  int64
 30  feature_29  100000 non-null  int64
 31  feature_30  100000 non-null  int64
 32  feature_31  100000 non-null  int64
 33  feature_32  100000 non-null  int64
 34  feature_33  100000 non-null  int64
 35  feature_34  100000 non-null  int64
 36  feature_35  100000 non-null  int64
 37  feature_36  100000 non-null  int64
 38  feature_37  100000 non-null  int64
 39  feature_38  100000 non-null  int64
 40  feature_39  100000 non-null  int64
 41  feature_40  100000 non-null  int64
 42  feature_41  100000 non-null  int64
 43  feature_42  100000 non-null  int64
 44  feature_43  100000 non-null  int64
 45  feature_44  100000 non-null  int64
 46  feature_45  100000 non-null  int64
 47  feature_46  100000 non-null  int64
 48  feature_47  100000 non-null  int64
 49  feature_48  100000 non-null  int64
 50  feature_49  100000 non-null  int64
 51  target      100000 non-null  object
dtypes: int64(51), object(1)
memory usage: 39.7+ MB

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 51 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          50000 non-null  int64
 1   feature_0   50000 non-null  int64
 2   feature_1   50000 non-null  int64
 3   feature_2   50000 non-null  int64
 4   feature_3   50000 non-null  int64
 5   feature_4   50000 non-null  int64
 6   feature_5   50000 non-null  int64
 7   feature_6   50000 non-null  int64
 8   feature_7   50000 non-null  int64
 9   feature_8   50000 non-null  int64
 10  feature_9   50000 non-null  int64
 11  feature_10  50000 non-null  int64
 12  feature_11  50000 non-null  int64
 13  feature_12  50000 non-null  int64
 14  feature_13  50000 non-null  int64
 15  feature_14  50000 non-null  int64
 16  feature_15  50000 non-null  int64
 17  feature_16  50000 non-null  int64
 18  feature_17  50000 non-null  int64
 19  feature_18  50000 non-null  int64
 20  feature_19  50000 non-null  int64
 21  feature_20  50000 non-null  int64
 22  feature_21  50000 non-null  int64
 23  feature_22  50000 non-null  int64
 24  feature_23  50000 non-null  int64
 25  feature_24  50000 non-null  int64
 26  feature_25  50000 non-null  int64
 27  feature_26  50000 non-null  int64
 28  feature_27  50000 non-null  int64
 29  feature_28  50000 non-null  int64
 30  feature_29  50000 non-null  int64
 31  feature_30  50000 non-null  int64
 32  feature_31  50000 non-null  int64
 33  feature_32  50000 non-null  int64
 34  feature_33  50000 non-null  int64
 35  feature_34  50000 non-null  int64
 36  feature_35  50000 non-null  int64
 37  feature_36  50000 non-null  int64
 38  feature_37  50000 non-null  int64
 39  feature_38  50000 non-null  int64
 40  feature_39  50000 non-null  int64
 41  feature_40  50000 non-null  int64
 42  feature_41  50000 non-null  int64
 43  feature_42  50000 non-null  int64
 44  feature_43  50000 non-null  int64
 45  feature_44  50000 non-null  int64
 46  feature_45  50000 non-null  int64
 47  feature_46  50000 non-null  int64
 48  feature_47  50000 non-null  int64
 49  feature_48  50000 non-null  int64
 50  feature_49  50000 non-null  int64
dtypes: int64(51)
memory usage: 19.5 MB

In [20]:
print("There are",len(pd.unique(train.target)),"classes in the target column in train.csv")

There are 4 classes in the target column in train.csv

In [26]:
## Count of id in each class
train.groupby(['target'])['id'].count()

target
Class_1     8490
Class_2    57497
Class_3    21420
Class_4    12593
Name: id, dtype: int64