Aims of this months project:
1. Learn basics of python
2. EDA
3. Solve using atleast one method
4. Submit a solution

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [89]:
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import make_pipeline

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression, Perceptron, SGDClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

from sklearn.metrics import accuracy_score, log_loss

In [3]:
train = pd.read_csv("../May/train.csv") 
test = pd.read_csv("../May/test.csv")

In [17]:
train.head()

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,target
0,0,0,0,1,0,1,0,0,0,0,...,0,0,21,0,0,0,0,0,0,Class_2
1,1,0,0,0,0,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,2,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,13,2,0,Class_1
3,3,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,1,0,Class_4
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,Class_2

In [5]:
test.head()

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49
0,100000,0,0,0,0,0,0,4,4,0,...,0,0,0,0,0,0,0,0,0,0
1,100001,0,0,1,0,0,0,2,0,7,...,3,0,1,0,0,0,1,0,2,1
2,100002,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,6,0
3,100003,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,6,9,14,3
4,100004,0,0,0,0,0,0,1,0,4,...,1,0,0,0,0,0,0,0,0,0

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 52 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          100000 non-null  int64
 1   feature_0   100000 non-null  int64
 2   feature_1   100000 non-null  int64
 3   feature_2   100000 non-null  int64
 4   feature_3   100000 non-null  int64
 5   feature_4   100000 non-null  int64
 6   feature_5   100000 non-null  int64
 7   feature_6   100000 non-null  int64
 8   feature_7   100000 non-null  int64
 9   feature_8   100000 non-null  int64
 10  feature_9   100000 non-null  int64
 11  feature_10  100000 non-null  int64
 12  feature_11  100000 non-null  int64
 13  feature_12  100000 non-null  int64
 14  feature_13  100000 non-null  int64
 15  feature_14  100000 non-null  int64
 16  feature_15  100000 non-null  int64
 17  feature_16  100000 non-null  int64
 18  feature_17  100000 non-null  int64
 19  feature_18  100000 non-null  int64
 20  feature_19  100000 non-null  int64
 21  feature_20  100000 non-null  int64
 22  feature_21  100000 non-null  int64
 23  feature_22  100000 non-null  int64
 24  feature_23  100000 non-null  int64
 25  feature_24  100000 non-null  int64
 26  feature_25  100000 non-null  int64
 27  feature_26  100000 non-null  int64
 28  feature_27  100000 non-null  int64
 29  feature_28  100000 non-null  int64
 30  feature_29  100000 non-null  int64
 31  feature_30  100000 non-null  int64
 32  feature_31  100000 non-null  int64
 33  feature_32  100000 non-null  int64
 34  feature_33  100000 non-null  int64
 35  feature_34  100000 non-null  int64
 36  feature_35  100000 non-null  int64
 37  feature_36  100000 non-null  int64
 38  feature_37  100000 non-null  int64
 39  feature_38  100000 non-null  int64
 40  feature_39  100000 non-null  int64
 41  feature_40  100000 non-null  int64
 42  feature_41  100000 non-null  int64
 43  feature_42  100000 non-null  int64
 44  feature_43  100000 non-null  int64
 45  feature_44  100000 non-null  int64
 46  feature_45  100000 non-null  int64
 47  feature_46  100000 non-null  int64
 48  feature_47  100000 non-null  int64
 49  feature_48  100000 non-null  int64
 50  feature_49  100000 non-null  int64
 51  target      100000 non-null  object
dtypes: int64(51), object(1)
memory usage: 39.7+ MB

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 51 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          50000 non-null  int64
 1   feature_0   50000 non-null  int64
 2   feature_1   50000 non-null  int64
 3   feature_2   50000 non-null  int64
 4   feature_3   50000 non-null  int64
 5   feature_4   50000 non-null  int64
 6   feature_5   50000 non-null  int64
 7   feature_6   50000 non-null  int64
 8   feature_7   50000 non-null  int64
 9   feature_8   50000 non-null  int64
 10  feature_9   50000 non-null  int64
 11  feature_10  50000 non-null  int64
 12  feature_11  50000 non-null  int64
 13  feature_12  50000 non-null  int64
 14  feature_13  50000 non-null  int64
 15  feature_14  50000 non-null  int64
 16  feature_15  50000 non-null  int64
 17  feature_16  50000 non-null  int64
 18  feature_17  50000 non-null  int64
 19  feature_18  50000 non-null  int64
 20  feature_19  50000 non-null  int64
 21  feature_20  50000 non-null  int64
 22  feature_21  50000 non-null  int64
 23  feature_22  50000 non-null  int64
 24  feature_23  50000 non-null  int64
 25  feature_24  50000 non-null  int64
 26  feature_25  50000 non-null  int64
 27  feature_26  50000 non-null  int64
 28  feature_27  50000 non-null  int64
 29  feature_28  50000 non-null  int64
 30  feature_29  50000 non-null  int64
 31  feature_30  50000 non-null  int64
 32  feature_31  50000 non-null  int64
 33  feature_32  50000 non-null  int64
 34  feature_33  50000 non-null  int64
 35  feature_34  50000 non-null  int64
 36  feature_35  50000 non-null  int64
 37  feature_36  50000 non-null  int64
 38  feature_37  50000 non-null  int64
 39  feature_38  50000 non-null  int64
 40  feature_39  50000 non-null  int64
 41  feature_40  50000 non-null  int64
 42  feature_41  50000 non-null  int64
 43  feature_42  50000 non-null  int64
 44  feature_43  50000 non-null  int64
 45  feature_44  50000 non-null  int64
 46  feature_45  50000 non-null  int64
 47  feature_46  50000 non-null  int64
 48  feature_47  50000 non-null  int64
 49  feature_48  50000 non-null  int64
 50  feature_49  50000 non-null  int64
dtypes: int64(51)
memory usage: 19.5 MB

In [8]:
print("There are",len(pd.unique(train.target)),"classes in the target column in train.csv")

There are 4 classes in the target column in train.csv

In [9]:
## Count of id in each class
train.groupby(['target'])['id'].count()

target
Class_1     8490
Class_2    57497
Class_3    21420
Class_4    12593
Name: id, dtype: int64

Create a Naive Bayes model without doing any feature engineering. This will sereve as a baseline index for the performance of future improvements.

In [84]:
X_train, X_test, y_train, y_test = train_test_split(train.drop(['id','target'], axis = 1), train['target'], test_size=0.3,random_state=109) # 70% training and 30% test

In [85]:
X_train.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49
40514,2,0,0,0,0,0,0,5,2,0,...,0,1,0,1,0,0,0,0,0,0
39697,0,1,0,0,0,0,1,4,0,1,...,8,0,1,0,0,0,0,0,3,0
33954,0,1,0,0,0,0,0,1,15,0,...,0,0,1,5,0,0,0,0,0,0
14833,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,8
59219,0,0,0,0,2,0,0,0,2,0,...,0,0,0,0,0,0,5,0,1,0

In [86]:
y_train.head()

40514    Class_2
39697    Class_2
33954    Class_3
14833    Class_2
59219    Class_1
Name: target, dtype: object

In [87]:
#Create log-probability estimates for the test vector X
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = gnb.predict_proba(X_test)

In [88]:
print("log loss:",log_loss(y_test, y_pred))

log loss: 2.4691702612623203

In [ ]:
test.drop(['id'], axis = 1)

In [60]:
final_pred = gnb.predict_proba(test.drop(['id'], axis = 1))

In [61]:
print(final_pred)

[[0.11923548 0.51844803 0.19195769 0.1703588 ]
 [0.08564247 0.25268179 0.10926414 0.5524116 ]
 [0.00582139 0.88378797 0.00599241 0.10439822]
 ...
 [0.00589615 0.76077241 0.1196218  0.11370965]
 [0.00713628 0.20837834 0.00761787 0.7768675 ]
 [0.07116824 0.72189447 0.06510044 0.14183684]]

In [64]:
df = pd.DataFrame(final_pred, columns = ['Class_1','Class_2','Class_3','Class_4'])

In [65]:
df.head()

    Class_1   Class_2   Class_3   Class_4
0  0.119235  0.518448  0.191958  0.170359
1  0.085642  0.252682  0.109264  0.552412
2  0.005821  0.883788  0.005992  0.104398
3  0.002869  0.000045  0.996658  0.000427
4  0.007443  0.195170  0.010506  0.786881

In [73]:
id = test['id']
my_submission = pd.concat([id, df], names=['id', 'Class_1','Class_2','Class_3','Class_4'])
##my_submission.to_csv('submission.csv', index=False)

In [77]:
my_submission.to_csv('submission.csv', index = False)

Now that we have submitted on solution, the next step is to increase our performance. The current solutions does worse than randomly picking the class. 
1. Understand how GNB predcitions work
2. Understand how log_loss is calcualted
3. Learn feature engineering
4. Try other modeling techniques too

In [94]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict_proba(X_test)

In [95]:
print("log loss:",log_loss(y_test, y_pred))

log loss: 1.1349103214752057

In [96]:
rf_pred = rf.predict_proba(test.drop(['id'], axis = 1))
print(rf_pred)

[[0.11 0.43 0.31 0.15]
 [0.07 0.6  0.17 0.16]
 [0.1  0.6  0.22 0.08]
 ...
 [0.04 0.51 0.24 0.21]
 [0.09 0.58 0.1  0.23]
 [0.11 0.47 0.27 0.15]]

In [97]:
rf_pred = pd.DataFrame(rf_pred, columns = ['Class_1','Class_2','Class_3','Class_4'])

In [98]:
test_id = test['id']
my_submission = pd.concat([test_id, rf_pred], names=['id', 'Class_1','Class_2','Class_3','Class_4'])

In [99]:
my_submission.to_csv('submission_rf_202105051340.csv', index = False)

Simply using random forest instead of GNB brought down the log loss from 2.409 to 1.12251; 
Why is random forest performing so much better than GNB here?
Is it always the same?

Trying other modeling techniques:

In [105]:
## logistic regression
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, y_train)
y_pred = lr.predict_proba(X_test)
print("log loss:",log_loss(y_test, y_pred))

log loss: 1.1116519191416832

In [106]:
lr_pred = lr.predict_proba(test.drop(['id'], axis = 1))
print(rf_pred)

       Class_1  Class_2  Class_3  Class_4
0         0.11     0.43     0.31     0.15
1         0.07     0.60     0.17     0.16
2         0.10     0.60     0.22     0.08
3         0.11     0.46     0.25     0.18
4         0.03     0.67     0.21     0.09
...        ...      ...      ...      ...
49995     0.14     0.56     0.18     0.12
49996     0.10     0.67     0.11     0.12
49997     0.04     0.51     0.24     0.21
49998     0.09     0.58     0.10     0.23
49999     0.11     0.47     0.27     0.15

[50000 rows x 4 columns]

In [107]:
lr_pred = pd.DataFrame(lr_pred, columns = ['Class_1','Class_2','Class_3','Class_4'])
test_id = test['id']
my_submission = pd.concat([test_id, lr_pred], names=['id', 'Class_1','Class_2','Class_3','Class_4'])
my_submission.to_csv('submission_lr_202105051441.csv', index = False)